body{
    font-family: arial;
    padding: 25px 25px 25px 25px;

}

th{
    color: white;
    background-color: black;
    padding: 25px 25px 25px 25px;
}

td{
    text-align: center;
  vertical-align: middle;
}

tr:nth-child(odd){
    background-color: gray;
}